# Folders
.circleci/
src/
test/

# Files
.editorconfig
.eslintcache
.eslintrc
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tsconfig.tsbuildinfo
tslint.json

# project specific
test.js
test.ts
todo.md
